body{
  /* background-color: rgba(255, 99, 71, 0.5); */
  background-color: Orange;
  font-family: 'TH Sarabun New', Times, Arial, Helvetica, sans-serif;
  /* text-align: center; */
}

/* img{
  width: 200px;
  height: 500px;
} */
